body{
  margin: 25px 0 0 50px;
  padding: 0;
  font-family: "Open Sans",helvetical, sans-serif;
  color: #02071b;
}
ul, li{
  list-style: none;
}  
#todo-list-body{
  border: solid #ccc 1px;
  position: relative;
  z-index: 1;
  background-image: repeating-linear-gradient(white 0px, white 24px,CornflowerBlue 26px);
  min-height: 95vh;
  min-width: 320px;
  max-width: 500px;
  width: 75vw;
  box-shadow: 2px 2px 2px 0px rgba(204,204,204,1);
}
#todo-list-body h1{
  text-align: center;
  margin-top: 0px;
}
#todo-list-body::before{
  content: '';
  width: 2px;
  height: 95vh;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255,0,0,0.6);
}
#todoTopper{
  background-color: white;
}

#addTodoTextInput{
  width: 50%;
  margin-right: 0.5rem;
}
.add-todo-group{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
#todo-list{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 13px;
  padding-left: 5px;
  align-items: center;
}
#todo-list li{
  display:flex;
  flex-direction: row;
  min-height: 24px;
  width: 100%;
  align-items: center;
  margin: 2px 1rem 0 1rem;
}
#todo-list:not(:last-child){
  border-bottom: none;
}

/* -------button styling----- */
button {
  /* background-color: #203BF5; */
background-color: #194cf1;
  border-radius: 3px;
  border: solid black 1px;
  padding: 2px;
  color:#F6F3F7;
  margin: 3px 5px 0 0;
}
button:active{
  transform: translate(1px, 1px);
}
.editButton{
  padding: 2px 10px;
}
.saveButton{
  background-color:#00a200;
  margin-left: 5px;
  padding: 2px 7.5px;
}
.deleteButton {
  background-color: #f32308;
  font-weight: bold;
}
/* selects input element in edit state */
#todo-list li :nth-child(2){
    margin: 0px;
    width: 90%;
}

#todo-list input.tempInput{
  margin-left: -1.25rem;
  border: solid black 1.8px;
  padding: 4px;
}
/* selects delete button in li */
#todo-list li :last-child {
  justify-self: flex-end;
}

  /* -------accessibility------- */
.visually-hidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

::placeholder {
  font-style: italic;
  color: black;
  opacity: 1;
  }

  /* -------hole styles------- */

#holes{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 100;
  position: relative;
  width:39px;
  float: left;
}
.hole{
  background-color:#f7f7f7;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.hole1{
  background-color: #ccc;
  opacity: .9;
  overflow: hidden;
  border: solid #6f6f6f 1px;
}
.innerHole{
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 100%;
  margin-left: 2px;
  margin-top: 1px;
  opacity: 1;
}

@media only screen and (max-width: 360px){
  body{
    margin: 10px 0 0 5px ;
    padding: 0;
  }
} 